/target
/notes
/slides
/images
/data
/venv
/build
*.html
*.svg
*.png
perf*
*.gexf
*.log
*.nav
*.aux
*.gz
*.toc
*.out
*.mtx
*.vtk
*.mesh

# CMake ignores
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
